*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

touchpad.exe

bin/
build/
dist/

*.log
*.tmp
*.cache
*.prof
vendor/
.vscode/

.idea/

*.swp
*.swo

.DS_Store
Thumbs.db
Desktop.ini

.env

coverage.out
tmp/
temp/
node_modules/
*.log